* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header Title */
.header {
    padding: 60px;
    text-align: left;
    background: #313638;
    color: white;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}
/* To create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #EE6649;
    padding: 60px;
    color:white;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 60px;
    text-align: left;
    background: #B3B3B3;
    color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
}